.menu-button-gray {
    background-color: #bcc4c8;
    height: 60px;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    word-wrap: break-word;
}
.menu-button-gray-5 {
    width: 20%;
    float: left;
}
.menu-button-gray-4 {
    width: 25%;
    float: left;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .menu-button-gray-font {
        font-size: small;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .menu-button-gray-font {
        font-size: x-small;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .menu-button-gray-font {
        font-size: xx-small;
    }
}

.first {
    margin-left: 0px;
    margin-right: 3px;
}
.middle {
    margin-left: 3px;
    margin-right: 3px;
}
.last {
    margin-left: 3px;
    margin-right: 0px;
}
.active {
    color: #2B6B8F;
}

