<div class="row">
  <div class="col-12">
    <p [innerHTML]="'systemProcesses.systemSetup.text1' | translate"></p>

    <h4 [innerHTML]="'systemProcesses.systemSetup.subtitle1' | translate"></h4>
    <p [innerHTML]="'systemProcesses.systemSetup.text1-1' | translate"></p>

    <h4 [innerHTML]="'systemProcesses.systemSetup.subtitle2' | translate"></h4>
    <p>
      <span [innerHTML]="'systemProcesses.systemSetup.text2-1-1' | translate"></span>
      <b class="strong">{{'strong' | translate | lowercase}}</b> {{'or' | translate}} <b class="weak">{{'weak' | translate | lowercase}}</b>
      <span [innerHTML]="'systemProcesses.systemSetup.text2-1-2' | translate"></span>
    </p>
    <p>
      <span>{{'systemProcesses.systemSetup.text2-2-1' | translate}}</span>
       <a [routerLink]="'../pruefablauf'">{{'systemProcesses.header.checkSequence' | translate}}</a>
      <span>{{'systemProcesses.systemSetup.text2-2-2' | translate}}</span>
    </p>
	
     <h4 [innerHTML]="'systemProcesses.systemSetup.subtitle3' | translate"></h4>
    <p>
      <span [innerHTML]="'systemProcesses.systemSetup.text3-1-1' | translate"></span>
      <b class="strong">{{'strong' | translate | lowercase}}</b> / <b class="weak">{{'weak' | translate | lowercase}}</b>
      <span [innerHTML]="'systemProcesses.systemSetup.text3-1-2' | translate"></span>
    </p>
    <p [innerHTML]="'systemProcesses.systemSetup.text3-2' | translate"></p>
  </div>
</div>
