<div class="row">
  <div class="col-12">
    <p [innerHTML]="'systemProcesses.newMethods.text1' | translate"></p>
    <ul>
      <li [innerHTML]="'systemProcesses.newMethods.text2' | translate"></li>
      <li [innerHTML]="'systemProcesses.newMethods.text3' | translate"></li>
      <li [innerHTML]="'systemProcesses.newMethods.text4' | translate"></li>
      <li [innerHTML]="'systemProcesses.newMethods.text5' | translate"></li>
      <li [innerHTML]="'systemProcesses.newMethods.text6' | translate"></li>
      <li [innerHTML]="'systemProcesses.newMethods.text7' | translate"></li>
    </ul>
  </div>
</div>
