<div class="row">
  <div class="col-xs-12">
    <p>Im Passwortcheck des Datenschutzbeauftragten des Kantons Zürich sind folgende Besonderheiten implementiert:</p>
    <ul>
      <li>Alle Checks erfolgen lokal im Browser der Benutzerin oder des Benutzers. Es werden keine Passwörter an einen Server verschickt.</li>
      <li>Es stehen Wörterbücher für Schweizer Standarddeutsch, Italienisch, Französisch, Rätoromanisch und Englisch bereit, die von der Benutzerin oder von dem Benutzer gewählt werden können.</li>
        <li>Bei der Wörtersuche werden auch gängige Modifikationen (<a href="https://de.wikipedia.org/wiki/Leetspeak" target="_blank">Leeten / L33t</a>) erkannt.</li>
      <li>Tastaturmuster werden auf Basis der Schweizer Tastatur erkannt.</li>
      <li>Die Prüfung erfolgt in Echtzeit. Schon bei der Eingabe des Passworts kann der Benutzer oder die Benutzerin sehen, wie sich die Bewertung mit jedem zusätzlichen Zeichen verändert.</li>
      <li>Der Quellcode sowie die Verfahrensweise sind öffentlich zugänglich (<a href="https://www.github.com/cnlab-software-ag/passwortcheck.git" target="_blank">Github Repository</a>).</li>
    </ul>
  </div>
</div>
