<div class="row">
  <div class="col-xs-12">
    <p>Unberechtigte Personen können auf verschiedene Weise an ein Passwort gelangen. Eine Methode ist das Erraten des Passworts:</p>
    <ul>
      <li>Viele Benutzerinnen und Benutzer verwenden Wörter, die sie sich leicht merken können, zum Beispiel aus ihrem persönlichen Umfeld. Somit ist das Erraten eines Passwortes die einfachste und meist auch schnellste Methode, um Zugang auf ein Computersystem zu erhalten (Erraten von Passwörtern / Password Guessing).</li>
      <li>Einfache oder kurze Passwörter können durch systematisches Durchprobieren geknackt werden (Brute Force Attack). Die Erfolgschance dieser Methode kann durch starke Passwörter eingeschränkt werden.</li>
    </ul>
	<p>Tipps für das Erstellen von Passwörtern und deren Speicherung gibt es unter <a [routerLink]="'../passworttipps'">Passworttipps</a> und <a [routerLink]="'../passwoerterspeichern'">Passwörter speichern.</a></p>
    <p>Passwörter können auch aus dem System ausgelesen oder bei der Übertragung mitverfolgt werden. Die gängigsten Methoden sind:</p>
    <ul>
      <li>Eine Person wird mittels Phishing (Link in einer E-Mail) auf eine gefälschte Website gelockt, die der echten Website sehr ähnlich sieht. Die Person wird dann aufgefordert, ihren Benutzernamen und das dazugehörige Passwort einzugeben. Werden die Angaben eingegeben, erhält die Angreiferin oder der Angreifer die Passwortdaten.</li>
      <li>Keylogger (spezielle Schadsoftware) werden dazu verwendet, um die Eingaben von Benutzenden eines Computers zu protokollieren und dadurch zu überwachen oder zu rekonstruieren. Keylogger werden von Unberechtigten auch verwendet, um an Passwörter zu gelangen.</li>
      <li>Erfolgt die Übertragung von Passwörtern unverschlüsselt, ist es für Unberechtigte auf diese Weise einfach an Passwörter zu gelangen. Dies geschieht beispielsweise bei einem unverschlüsselten Webzugriff, erkennbar durch die Abkürzung «http» im Browseradressfeld. Mit verschlüsselten Verbindungen, beispielsweise mit dem Webzugriff über TLS/SSL, wird dieses Risiko stark verringert. Eine verschlüsselte Verbindung wird durch die Abkürzung «https» im Browseradressfeld angezeigt.</li>
    </ul>
	<p>Einfache Massnahmen zum Schutz von Passwörtern gibt es unter <a [routerLink]="'../schutzmassnahmenaufdempc'">Schutzmassnahmen</a>.</p>
  </div>
</div>
