<div class="row">
  <div class="col-xs-12">
    <p>Ein Passwort sollte nie aufgeschrieben werden. Was sich leicht anhört, ist in der Praxis nicht immer einfach umzusetzen, insbesondere da für die unterschiedlichen Dienste und Websites jeweils andere Passwörter verwendet werden sollten (siehe: <a [routerLink]="'../passwortmissbrauch'">Passwort-Missbrauch</a>). Es gelingt nur sehr wenigen Personen, alle Passwörter im Kopf zu behalten. Abhilfe kann hier ein Passwortmanager schaffen.</p>
    <p>Ein Passwortmanager-Programm erleichtert die Erstellung, Verwaltung und Nutzung sicherer Passwörter. Beim Passwortmanager muss man sich nur noch das Hauptpasswort für den Passwortmanager und die Passwörter für wirklich heikle Dienste wie E-Banking merken. Weitere Informationen zum Thema Passwortmanager finden Sie im <a href="https://dsb.zh.ch/internet/datenschutzbeauftragter/de/publikationen/anleitungen/_jcr_content/contentPar/form_0/formitems/passwortmanager/download.spooler.download.1485878383609.pdf/Merkblatt_Vergleich_Passwortmanager.pdf" target="_blank">Merkblatt Passwortmanager</a>.</p>
    <p>Grundsätze für ein sicheres Speichern von Passwörtern:</p>
    <ol>
      <li>Ein Passwortmanager-Programm erleichtert die Erstellung und Nutzung sicherer Passwörter.</li>
      <li>Die wichtigsten Passwörter für den Passwortmanager und heikle Dienste wie E-Banking immer merken und nie aufschreiben.</li>
      <li>Passwörter nicht ungeschützt notieren, also zum Beispiel nie auf dem Post-it unter der Tastatur.</li>
    </ol>
  </div>
</div>
