<div class="row">
  <div class="col-12">
    <table class="table table-sm">
    <thead>
    <tr>
      <th>{{'yearTable.partialWords' | translate}}</th>
      <th class="d-none d-md-table-cell">{{'yearTable.length' | translate}}</th>
      <th>{{'yearTable.type' | translate}}</th>
      <th class="d-none d-md-table-cell"><span appTooltip title="{{'yearTable.tooltip.roomSize' | translate}}">{{'yearTable.roomSize' | translate}}</span></th>
      <th class="d-none d-md-table-cell"><span appTooltip title="{{'yearTable.tooltip.numberOfAttempts' | translate}}">{{'yearTable.numberOfAttempts' | translate}}</span></th>
      <th><span appTooltip title="{{'yearTable.tooltip.entropy' | translate}}">{{'yearTable.entropy' | translate}}</span></th>
      <th><span #computeTime appTooltip title="{{'yearTable.tooltip.computeTime' | translate}}">{{'yearTable.computeTime' | translate}}</span></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of metrics.allWords()">
      <td *ngIf="showpassword" class="word-break">
        <span *ngIf="item.showToolTip()" appTooltip title="{{'yearTable.tooltip.wordBrackets' | translate}}">
          {{ item.displayedWord() }}
        </span>
        <span *ngIf="!item.showToolTip()">
          {{ item.displayedWord() }}
        </span>
      </td>
      <td *ngIf="!showpassword">***</td>
      <td class="d-none d-md-table-cell">{{ item.length }}</td>
      <td>{{ 'wordBook.source.' + item.source | translate }}</td>
      <td class="d-none d-md-table-cell">{{ item.roomSize | bigNumberFormat }}</td>
      <td class="d-none d-md-table-cell">{{ item.numberOfAttemps() | bigNumberFormat }}</td>
      <td>{{ item.entropie() | bigNumberFormat }} Bit</td>
      <td></td>
    </tr>

    <tr>
      <td colspan="4" class="d-none d-md-table-cell"><b>{{'yearTable.costEstimated' | translate}}</b></td>
      <td colspan="2" class="d-md-none"><b>Aufwandschätzung</b></td>
      <td class="d-none d-md-table-cell">{{ metrics.numberOfAttemps() | bigNumberFormat }}</td>
      <td>{{ metrics.entropie() | bigNumberFormat }} Bit</td>
      <td [style.color]="metrics.timeToBreakColor()" [style.font-weight]="'bold'">{{ metrics.timeToBreak() | timeAsText: computeTime.innerText | async }}</td>
    </tr>

    </tbody>
    </table>
  </div>
</div>
