<div class="row">
  <div class="col-12">
    <p [innerHTML]="'systemProcesses.checkSequence.text0-1' | translate"></p>
    <p [innerHTML]="'systemProcesses.checkSequence.text0-2' | translate"></p>
    <p [innerHTML]="'systemProcesses.checkSequence.text0-3' | translate"></p>
    <ul>
      <li [innerHTML]="'systemProcesses.checkSequence.text0-4' | translate"></li>
      <li [innerHTML]="'systemProcesses.checkSequence.text0-5' | translate"></li>
      <li [innerHTML]="'systemProcesses.checkSequence.text0-6' | translate"></li>
      <li [innerHTML]="'systemProcesses.checkSequence.text0-7' | translate"></li>
    </ul>
    <p [innerHTML]="'systemProcesses.checkSequence.text0-8' | translate"></p>
  </div>
  <div class="col-12">
    <p [innerHTML]="'systemProcesses.checkSequence.text1-1' | translate"></p>
    <div class="row">
      <div class="col-12 col-lg-10 col-lg-8">
        <img
        [src]="'systemProcesses.checkSequence.img' | translate" [alt]="'img-alt' | translate"
        class="img-responsive">
      </div>
    </div>
    <p [innerHTML]="'systemProcesses.checkSequence.text1-2' | translate"></p>
    <ul>
      <li [innerHTML]="'systemProcesses.checkSequence.text1-3' | translate"></li>
      <li [innerHTML]="'systemProcesses.checkSequence.text1-4' | translate"></li>
      <li [innerHTML]="'systemProcesses.checkSequence.text1-5' | translate"></li>
    </ul>
    <p [innerHTML]="'systemProcesses.checkSequence.text1-6' | translate"></p>
    <p>
      <span [innerHTML]="'systemProcesses.checkSequence.text1-7-1' | translate"></span>
      <b class="strong">{{'systemProcesses.checkSequence.text1-7-2' | translate}}</b>
      <span [innerHTML]="'systemProcesses.checkSequence.text1-7-3' | translate"></span>
      <b class="strong">{{'strong' | translate | lowercase}}</b>
      <span [innerHTML]="'systemProcesses.checkSequence.text1-7-4' | translate"></span>
    </p>
  </div>
</div>
