<div class="row">
  <div class="col-12">
    <h4 [innerHTML]="'systemProcesses.whatDoesThisApp.subtitle1' | translate"></h4>
    <p [innerHTML]="'systemProcesses.whatDoesThisApp.text1-1' | translate"></p>
    <p [innerHTML]="'systemProcesses.whatDoesThisApp.text1-2' | translate"></p>

    <p>
      <span [innerHTML]="'systemProcesses.whatDoesThisApp.text1-5' | translate"></span>
      <a [routerLink]="'../pruefablauf'">{{'systemProcesses.header.checkSequence' | translate}}</a>.
    </p>

    <h4 [innerHTML]="'systemProcesses.whatDoesThisApp.subtitle2' | translate"></h4>
    <p [innerHTML]="'systemProcesses.whatDoesThisApp.text2-1' | translate"></p>
    <p [innerHTML]="'systemProcesses.whatDoesThisApp.text2-2' | translate"></p>
  </div>
</div>
