<div class="row">
  <div class="col-12">
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font first"
           [routerLink]="'passworttipps'"
           [routerLinkActive]="'active'">
        {{'passwordHintsSite.header.passwordHints' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="'passwoerterspeichern'"
           [routerLinkActive]="'active'">
        {{'passwordHintsSite.header.passwordSave' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="'passwortmissbrauch'"
           [routerLinkActive]="'active'">
        {{'passwordHintsSite.header.passwordAbuse' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font last"
           [routerLink]="'schutzmassnahmenaufdempc'"
           [routerLinkActive]="'active'">
        {{'passwordHintsSite.header.protections' | translate}}
      </div>
    </div>
  </div>
</div>
