<div class="row">
  <div class="col-xs-12">
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font first"
           [routerLink]="'passworttipps'"
           [routerLinkActive]="'active'">
        Passworttipps
      </div>
    </div>
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="'passwoerterspeichern'"
           [routerLinkActive]="'active'">
        Passwörter speichern
      </div>
    </div>
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="'passwortmissbrauch'"
           [routerLinkActive]="'active'">
        Passwort-Missbrauch
      </div>
    </div>
    <div class="menu-button-gray-4">
      <div class="menu-button-gray menu-button-gray-font last"
           [routerLink]="'schutzmassnahmenaufdempc'"
           [routerLinkActive]="'active'">
        Schutzmassnahmen
      </div>
    </div>
  </div>
</div>
