<div class="row">
  <div class="d-none d-md-block col-lg-12 nopadding">
    <div class="col-2 col-md-12 sidebar-button-left">
      <div class="sidebar-button sidebar-button-blue"
           [routerLink]="'/passwortcheck'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/password_check.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'passwordCheck' | translate}}</div>
      </div>
    </div>
    <div class="col-2 col-md-12 sidebar-button-middle">
      <div class="sidebar-button sidebar-button-yellow"
           [routerLink]="'/passworttipps'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/password_tipps.png" class="img-fluid sidebar-icon">
          </div>
          <div class="sidebar-text">{{'passwordHints' | translate}}</div>
      </div>
    </div>
    <div class="col-2 col-md-12 sidebar-button-middle">
      <div class="sidebar-button sidebar-button-green"
           [routerLink]="'/systemablauf'"
           [routerLinkActive]="'active'">
        <div class="text-center">
        <img src="../../assets/system.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'systemProcess' | translate}}</div>
      </div>
    </div>
    <div class="col-2 col-md-12 sidebar-button-middle">
      <div class="sidebar-button sidebar-button-pink"
           [routerLink]="'/statistik'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/statistics.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'statistics' | translate}}</div>
      </div>
    </div>
    <div class="col-2 col-md-12 sidebar-button-middle">
      <div class="sidebar-button sidebar-button-amber"
           [routerLink]="'/timeseries'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/statistics.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'timeseries' | translate}}</div>
      </div>
    </div>
    <div class="col-2 col-md-12 sidebar-button-right">
      <div class="sidebar-button sidebar-button-grey"
           [routerLink]="'/impressum'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/impressum.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'imprint' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="col-12 d-md-none nopadding-left">
    <div class="sidebar-button">
      <div class="sidebar-button-blue sidebar-button-left"
           [routerLink]="'/passwortcheck'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/password_check.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'passwordCheck' | translate}}</div>
      </div>
    </div>
    <div class="sidebar-button">
      <div class="sidebar-button-yellow sidebar-button-middle"
           [routerLink]="'/passworttipps'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/password_tipps.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'passwordHints' | translate}}</div>
      </div>
    </div>
    <div class="sidebar-button">
      <div class="sidebar-button-green sidebar-button-middle"
           [routerLink]="'/systemablauf'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/system.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'systemProcess' | translate}}</div>
      </div>
    </div>
    <div class="sidebar-button">
      <div class="sidebar-button-pink sidebar-button-middle"
           [routerLink]="'/statistik'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/statistics.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'statistics' | translate}}</div>
      </div>
    </div>
    <div class="sidebar-button">
      <div class="sidebar-button-amber sidebar-button-middle"
           [routerLink]="'/timeseries'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/statistics.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'timeseries' | translate}}</div>
      </div>
    </div>
    <div class="sidebar-button">
      <div class="sidebar-button-grey sidebar-button-right"
           [routerLink]="'/impressum'"
           [routerLinkActive]="'active'">
        <div class="text-center">
          <img src="../../assets/impressum.png" class="img-fluid sidebar-icon">
        </div>
        <div class="sidebar-text">{{'imprint' | translate}}</div>
      </div>
    </div>
  </div>
</div>
