<div class="row">
  <div class="col-xs-12">
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font first"
           [routerLink]="['systemaufbau']"
           [routerLinkActive]="'active'">
        Systemaufbau
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="['pruefablauf']"
           [routerLinkActive]="'active'">
        Prüfungsablauf
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="['passwoerterknacken']"
           [routerLinkActive]="'active'">
        Passwörter knacken
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="['wasmachtdiesesprogramm']"
           [routerLinkActive]="'active'">
        Was macht der Passwortcheck?
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font last"
           [routerLink]="['neuemethoden']"
           [routerLinkActive]="'active'">
        Neue Methoden
      </div>
    </div>
  </div>
</div>
