<div class="row">
  <div class="col-12">
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font first"
           [routerLink]="['systemaufbau']"
           [routerLinkActive]="'active'">
        {{'systemProcesses.header.systemSetup' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="['pruefablauf']"
           [routerLinkActive]="'active'">
        {{'systemProcesses.header.checkSequence' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="['passwoerterknacken']"
           [routerLinkActive]="'active'">
        {{'systemProcesses.header.crackingPasswords' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font middle"
           [routerLink]="['wasmachtdiesesprogramm']"
           [routerLinkActive]="'active'">
        {{'systemProcesses.header.whatDoesThisApp' | translate}}
      </div>
    </div>
    <div class="menu-button-gray-5">
      <div class="menu-button-gray menu-button-gray-font last"
           [routerLink]="['neuemethoden']"
           [routerLinkActive]="'active'">
        {{'systemProcesses.header.newMethods' | translate}}
      </div>
    </div>
  </div>
</div>
