<div class="row">
  <div class="col-xs-12">
    <h1>Impressum</h1>

    <h4>Kontakt</h4>
    <p>Datenschutzbeauftragter des Kantons Zürich<br>
    Beckenhofstrasse 23<br>
    Postfach<br>
    8090 Zürich</p>
    <div class="row">
      <div class="col-xs-4">Telefon</div>
      <div class="col-xs-8">043 259 39 99</div>
      <div class="col-xs-4">E-Mail</div>
      <div class="col-xs-8"><a href="mailto:datenschutz@dsb.zh.ch">datenschutz@dsb.zh.ch</a></div>
	  <div class="col-xs-4">Website</div>
      <div class="col-xs-8"><a href="http://www.datenschutz.ch" target="_blank">www.datenschutz.ch</a></div>
	  <div class="col-xs-4">&nbsp;</div>
	  <div class="col-xs-8">&nbsp;</div>
	  <div class="col-xs-4">Social Media</div>
      <div class="col-xs-8"><a href="https://twitter.com/dsb_zh" target="_blank">Twitter-Kanal des DSB</a>, <a href="https://www.youtube.com/channel/UCghVVLU_hOTbCIYaKQk8hTw" target="_blank">Youtube-Kanal des DSB</a></div>
	  <div class="col-xs-4">Datenschutz App</div>
      <div class="col-xs-8"><a href="https://itunes.apple.com/us/app/datenschutz.ch/id793855055?l=de&ls=1&mt=8" target="_blank">iOS-Version</a>, <a href="https://play.google.com/store/apps/details?id=ch.bdh.dsb" target="_blank">Android-Version</a></div>

	</div>
    <hr>

    <h4>Entwickler</h4>
    <p>cnlab<br>
    Obere Bahnhofstrasse 32b<br>
      8640 Rapperswil-Jona</p>
    <div class="row">
      <div class="col-xs-4">Telefon</div>
      <div class="col-xs-8">055 214 33 33</div>
      <div class="col-xs-4">E-Mail</div>
      <div class="col-xs-8"><a href="mailto:info@cnlab.ch">info@cnlab.ch</a></div>
	  <div class="col-xs-4">Website</div>
      <div class="col-xs-8"><a href="http://www.cnlab.ch">www.cnlab.ch</a></div>
    </div>
    <hr>

    <h4>Source Code</h4>
    <p>Der Passwortcheck wird unter der Bedingungen der <a href="https://opensource.org/licenses/bsd-license.php" target="_blank">BSD-2-Clause</a> auf <a href="https://www.github.com/cnlab-software-ag/passwortcheck.git" target="_blank">GIT-Hub</a> zur Verfügung gestellt.</p>
    <hr>

    <h4>Datenschutzerklärung</h4>
    <p>Beim Zugriff auf den Passwortcheck des Datenschutzbeauftragten des Kanton Zürichs wird die IP-Adresse vorübergehend verwendet, um die Statistik zu aktualisieren. Danach wird die IP-Adresse gelöscht.</p>
	<p>&nbsp;
	<p><i>Version 20180215</i>
  </div>
</div>