<div class="row">
  <div class="col-12">
    <p>
      <span [innerHTML]="'passwordHintsSite.secureStoringPasswords.text1-1' | translate"></span>
      <a [routerLink]="'../passwortmissbrauch'">{{'passwordHintsSite.header.passwordAbuse' | translate}}</a>
      <span [innerHTML]="'passwordHintsSite.secureStoringPasswords.text1-2' | translate"></span>
    </p>
    <p [innerHTML]="'passwordHintsSite.secureStoringPasswords.text2' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.secureStoringPasswords.text3' | translate"></p>
    <ol>
      <li [innerHTML]="'passwordHintsSite.secureStoringPasswords.text4' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.secureStoringPasswords.text5' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.secureStoringPasswords.text6' | translate"></li>
    </ol>
  </div>
</div>
