<div class="row">
  <div class="col-xs-12">
    <p>Ein Passwort sollte nie aufgeschrieben werden. Was sich einfach anhört, ist in der Praxis nicht immer einfach umzusetzen, insbesondere da für die unterschiedlichen Dienste und Websites jeweils andere Passwörter verwendet werden sollten (siehe: <a [routerLink]="'../passwortmissbrauch'">Passwort-Missbrauch</a>). Es gelingt nur sehr wenigen Personen, alle Passwörter im Kopf zu behalten. Abhilfe kann hier ein Passwort-Manager schaffen.</p>
    <p>Ein Passwort-Manager-Programm erleichtert die Erstellung, Verwaltung und Nutzung sicherer Passwörter. Beim Passwort-Manager muss man sich nur noch die Passwörter für wirklich sensible Dienste merken wie z.B. eBanking und das Hauptpasswort für den Passwort-Manager. Weitere Informationen zum Thema Passwort-Manager finden Sie im <a href="https://dsb.zh.ch/internet/datenschutzbeauftragter/de/ueber_uns/formulare_und_merkblaetter/_jcr_content/contentPar/form/formitems/merkblatt_passwort_m/download.spooler.download.1459256566590.pdf/Merkblatt_Vergleich_Passwortmanager.pdf" target="_blank">Merkblatt Passwort-Manager</a></p>
    <p>Grundsätze für ein sicheres Speichern von Passwörtern:</p>
    <ol>
      <li>Ein Passwort-Manager-Programm erleichtert die Erstellung und Nutzung sicherer Passwörter.</li>
      <li>Die wichtigsten Passwörter wie z.B. für eBanking oder den Passwort-Manager immer merken und nie aufschreiben.</li>
      <li>Passwörter nicht ungeschützt notieren, also z.B. nie auf dem Post-it unter der Tastatur.</li>
    </ol>
  </div>
</div>
