<div class="row">
  <div class="col-12">
    <div class="float-right" *ngIf="isNoHeader"><app-lang-selector (selectedLang)="selectedLang = $event"></app-lang-selector></div>
    <form>
      <label for="avoidAutocomplete" hidden></label>
      <label for="password">{{'passwordSite.passwordLabel' | translate}}:</label>
      <input id="avoidAutocomplete" hidden>
      <input class="mx-1" id="password" name="password" placeholder="{{'password' | translate}}" #input
             (keyup)="checkPassword(input.value)"
             [type]="showpassword.checked ? 'text' : 'password'"
             autofocus autocomplete="off" size="30">
      <label><input type="checkbox" (click)="0" [title]="showpassword" #showpassword> {{'passwordSite.showPassword' | translate}}</label>
    </form> {{'passwordSite.passwordWillNotBeSent' | translate}}
  </div>

  <div class="col-12" *ngIf="userText.userText !== ''; else placeholder">
    <hr>
    {{'passwordSite.thePasswordIs' | translate}}
    <span *ngIf="userText.strong" [style.color]="metrics?.goodColor">
      <b>{{'strong' | translate }}</b></span><span *ngIf="!userText.strong" [style.color]="metrics?.badColor">
    <b>{{'weak' | translate }}</b></span>{{ 'passwordSite.' + userText.userText | translate }}
    <hr>
  </div>
  <ng-template #placeholder>
    <div class="col-12">
      <hr>
    </div>
  </ng-template>

  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <p>{{'passwordSite.selectedWordBooks' | translate}}</p>
      </div>
      <div class="col-6 col-lg-4 wordbook" *ngFor="let wordbook of displayedWordbooks">
        <label>
          <input
            type="checkbox"
            [checked]="wordbook.active"
            (change)="loadWordbook(wordbook)">
          {{ 'wordBook.names.' + wordbook.name | translate }}
        </label>
        <span appTooltip
              title=" {{'wordBook.notSelectedWarning' | translate}}"
              class="badge badge-pill badge-warning wordbook-warning shadow"
              *ngIf="showWordbookSelectionWarning(wordbook)">!</span>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <app-yeartable [metrics] = "metrics" [showpassword]="showpassword.checked"></app-yeartable>
  </div>
</div>
