<div class="row">
  <div class="col-xs-12">
    <form>
      <label for="password">Das zu prüfende Password lautet:</label>
      <input style="display:none">
      <input id="password" name="password" placeholder="Passwort" #input
             (keyup)="checkPassword(input.value)"
             [type]="showpassword.checked ? 'text' : 'password'"
             autofocus autocomplete="off" size="30">
      <label><input type="checkbox" (click)="0" [title]="'Passwort anzeigen'" #showpassword> Passwort anzeigen</label>
    </form> Das eingegebene Passwort wird lokal überprüft und nie an den Server übermittelt.
	
    <div *ngIf="userText.usertext !== ''">
      <hr>
      Das Passwort ist
      <span *ngIf="userText.strong" [style.color]="metrics?.goodColor"><b>stark</b></span><span *ngIf="!userText.strong" [style.color]="metrics?.badColor"><b>schwach</b></span>{{ userText.usertext }}
      <hr>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <p>Ausgewählte Wörterbücher</p>
      </div>
      <div class="col-xs-6 col-md-4 wordbook" *ngFor="let wordbook of displayedWordbooks">
        <label>
          <input
            type="checkbox"
            [checked]="wordbook.active"
            (change)="loadWordbook(wordbook)">
          {{ wordbook.name }}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-pointtable [metrics] = "metrics"></app-pointtable>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-yeartable [metrics] = "metrics" [showpassword]="showpassword.checked"></app-yeartable>
  </div>
</div>

<div class="overlay" *ngIf="isLoading">
  <img src="./assets/loading.gif">
</div>
