<div class="row">
  <div class="col-12">
    <p [innerHTML]="'passwordHintsSite.passwordAbuse.text1' | translate"></p>
    <ul>
      <li [innerHTML]="'passwordHintsSite.passwordAbuse.text2' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.passwordAbuse.text3' | translate"></li>
    </ul>

    <p>
      <span [innerHTML]="'passwordHintsSite.passwordAbuse.text3-1' | translate"></span>
      <span>
        <a [routerLink]="'../passworttipps'">{{'passwordHintsSite.header.passwordHints' | translate}}</a> {{'and' | translate}} <a [routerLink]="'../passwoerterspeichern'">{{'passwordHintsSite.header.passwordSave' | translate}}</a>
      </span>
      <span [innerHTML]="'passwordHintsSite.passwordAbuse.text3-2' | translate"></span>
    </p>

    <p [innerHTML]="'passwordHintsSite.passwordAbuse.text4' | translate"></p>
    <ul>
      <li [innerHTML]="'passwordHintsSite.passwordAbuse.text5' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.passwordAbuse.text6' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.passwordAbuse.text7' | translate"></li>
    </ul>

    <p>
      <span [innerHTML]="'passwordHintsSite.passwordAbuse.text8' | translate"></span>
      <span>
        <a [routerLink]="'../schutzmassnahmenaufdempc'">{{'passwordHintsSite.header.protections' | translate}}</a>.
      </span>
    </p>
  </div>
</div>
