<div class="row">
  <div class="col-xs-12">
    <p>Unberechtigte Personen können auf verschiedene Weise an ein Passwort gelangen. Eine Methode ist das Erraten des Passworts:</p>
    <ul>
      <li>Viele Benutzerinnen und Benutzer verwenden Wörter, die sie sich leicht merken können, zum Beispiel aus ihrem persönlichen Umfeld. Somit ist das Erraten eines Passworts die einfachste und meist auch schnellste Methode, um Zugang auf ein Computersystem zu erhalten (Password Guessing / Social Engineering).</li>
      <li>Einfache oder kurze Passwörter können durch systematisches Durchprobieren geknackt werden (Brute Force Attack). Die Erfolgschance dieser Methode kann durch systemseitig eingestellte Passwortvorgaben sehr stark eingeschränkt werden, zum Beispiel durch Kontosperrung nach drei Fehlversuchen.</li>
    </ul>
    <p>Passwörter können auch aus dem System ausgelesen oder bei der Übertragung mitverfolgt werden. Die gängigsten Methoden sind:</p>
    <ul>
      <li>Eine Person wird mittels Phishing (Link in einer E-Mail) auf eine gefälschte Website gelockt, die der echten Website sehr ähnlich sieht. Die Person wird dann aufgefordert, ihren Benutzernamen und das dazugehörige Passwort einzugeben. Werden die Angaben eingegeben, erhält die Angreiferin oder der Angreifer die Passwortdaten.</li>
      <li>Keylogger (spezielle Schadsoftware) werden dazu verwendet, um die Eingaben von Benutzenden eines Computers zu protokollieren und dadurch zu überwachen oder zu rekonstruieren. Keylogger werden von Unberechtigten auch verwendet, um an Passwörter zu gelangen.</li>
      <li>VPN- und Anonymisierdienste, die den Benutzenden helfen, ihre Anonymität im Internet zu wahren, arbeiten mit Proxy-Technologie. Alle Eingaben können so in den Log-Dateien eines Proxy-Servers aufgezeichnet werden. Durch eine gezielte Auswertung dieser Log-Dateien können Unberechtigte an Passwörter gelangen. Mit dem Webzugriff über SSL (https) wird dieses Risiko stark verringert. Bei https-Verbindungen können Daten und Passwörter erst mitgelesen werden, wenn die Benutzerin oder der Benutzer ein gefälschtes Zertifikat akzeptiert.</li>
      <li>Ein Sniffer (Schnüffler) ist eine Software, die den Datenverkehr eines Netzwerks empfangen, aufzeichnen, darstellen und gegebenenfalls auswerten kann. Mit solchen Netzwerkschnüfflern können übertragene Passwörter mitgelesen werden. Erfolgt die Übertragung von Passwörtern unverschlüsselt, wie beispielsweise bei E-Mails, ist es für Unberechtigte auf diese Weise einfach an Passwörter zu gelangen.</li>
      <li>In Skript- oder Konfigurationsdateien beziehungsweise in Passwortlisten hinterlegte Kennwörter können ausgelesen werden.</li>
      <li>Mit Passwortknackprogrammen können ausgelesene Passwörter, die verschlüsselt sind, wieder in eine lesbare Form umgewandelt werden.</li>
    </ul>
  </div>
</div>
