<div class="row">
  <div class="col-xs-12">
    <p>Ein gutes Passwort besteht aus einer grossen und zufälligen Anzahl von Gross- und Kleinbuchstaben, Zahlen und Sonderzeichen. Wie kann man sich ein solches Passwort merken, ohne es aufzuschreiben? Es gibt mehrere Methoden, um ein gutes Passwort zu bilden und es sich dennoch merken zu können. Hier soll auf die Methode des «Passwort-Merksatzes» näher eingegangen werden.</p>
    <p>Beim <b>«Passwort-Merksatz»</b> merkt man sich einen Satz, anstelle des Passworts. Aus diesem Merksatz kann das Passwort jederzeit abgeleitet werden. Beim nachfolgenden Beispiel wird jeweils der erste Buchstabe jedes Wortes des Satzes für die Bildung des Passworts benutzt.</p>
    <p>Beispiel-Merksatz:<br><u>M</u>einen <u>K</u>affee <u>i</u>m <u>B</u>üro <u>t</u>rinke <u>i</u>ch <u>i</u>mmer <u>u</u>m <u>9</u> <u>U</u>hr <u>+</u> <u>7</u> <u>M</u>inuten.</p>
    <p>Beispiel Passwort 1: <i>(Bitte nicht verwenden.)</i><br>MKiBtiiu9U+7M.</p>
    <p>Das System kann individuell ausgebaut und verändert werden. Der Kreativität sind fast keine Grenzen gesetzt. Z.B. kann die Gross- und Kleinschreibung vertauscht werden. Wichtig ist, dass das System einfach und reproduzierbar bleibt.</p>
    <p>Beispiel Passwort 2:<br>mkIbTIIU9u7m.</p>
	<h4>Passwort-Fallstricke, die vermieden werden sollten</h4>
    <p>Einfach zu erratende Begriffe oder Zahlen sollten vermieden werden. Dazu gehören zum Beispiel einfache Wörter, Namen, Geburtsdatum oder Jahreszahlen. Auch sollte das Ersetzen von Buchstaben durch Zahlen oder Sonderzeichen – z.B. A durch eine 4 ersetzen – im Fachjargon «leeten» oder <a href="https://de.wikipedia.org/wiki/Leetspeak" target="_blank">«Leetspeak»</a> genannt, nicht mehr verwendet werden.</p>


  </div>
</div>
