<div class="row">
  <div class="col-12">
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text1' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text2' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text3' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text5' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text6' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text7' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text8' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text9' | translate" class="font-weight-bold"></p>

    <h4 [innerHTML]="'passwordHintsSite.buildingStrongPasswords.subtitle' | translate"></h4>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text10' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.buildingStrongPasswords.text11' | translate"></p>
  </div>
</div>
