<div class="row">
  <div class="col-6">
    <img src="stat_day.php" alt="day statistics"
         class="img-responsive" align="middle" width="60%">
  </div>
  <div class="col-6">
    <img src="stat_week.php" alt="week statistics"
         class="img-responsive" align="middle" width="60%">
  </div>
  <div class="col-6">
    <img src="stat_month.php" alt="month statistics"
         class="img-responsive" align="middle" width="60%">
  </div>
  <div class="col-6">
    <img src="stat_year.php" alt="year statistics"
         class="img-responsive" align="middle" width="60%">
  </div>
</div>
