<div class="row">
  <div class="col-xs-6">
    <img src="stat_day.php"
         class="img-responsive" align="middle" width="60%">
  </div>
  <div class="col-xs-6">
    <img src="stat_week.php"
         class="img-responsive" align="middle" width="60%">
  </div>
  <div class="col-xs-6">
    <img src="stat_month.php"
         class="img-responsive" align="middle" width="60%">
  </div>
  <div class="col-xs-6">
    <img src="stat_year.php"
         class="img-responsive" align="middle" width="60%">
  </div>
</div>
