<div class="row">
  <div class="col-12">
    <h3>{{'stats.executedChecks' | translate}}</h3>
  </div>
  <div class="col-6">
    <h4>{{'stats.last1d' | translate}}</h4>
    <canvas baseChart type="pie" [labels]="labels" [data]="data1d"></canvas>
  </div>
  <div class="col-6">
    <h4>{{'stats.last7d' | translate}}</h4>
    <canvas baseChart type="pie" [labels]="labels" [data]="data7d"></canvas>
  </div>
  <div class="col-6">
    <h4>{{'stats.last30d' | translate}}</h4>
    <canvas baseChart type="pie" [labels]="labels" [data]="data30d"></canvas>
  </div>
  <div class="col-6">
    <h4>{{'stats.last365d' | translate}}</h4>
    <canvas baseChart type="pie" [labels]="labels" [data]="data365d"></canvas>
  </div>
</div>
