<div class="row">
  <div class="col-xs-12">
    <p>Nebst der sicheren Wahl und der sorgfältigen Aufbewahrung eines Passworts ist es essenziell auch die Geräte zu schützen, auf welchen die Passwörter verwendet und eingegeben werden.</p>
    <p>Die folgenden fünf einfachen Massnahmen helfen die Geräte, die Daten und damit auch das Passwort besser zu schützen:</p>
    <ol>
      <li>Kritischer und sorgfältiger Umgang mit E-Mails und bei Websites im Internet</li>
      <li>Das Betriebssystem und Programme stets aktuell halten.</li>
      <li>Schutzmassnahmen wie z.B. die PC-Firewall aktivieren oder ein Konto mit eingeschränkten Rechten benutzen.</li>
      <li>Ein Anti-Virus-Programm einsetzen und die Virendefinitionen regelmässig aktualisieren.</li>
      <li>Eine regelmässige Datensicherung des Computers durchführen.</li>
    </ol>
    <p>Weiterführende Informationen zum Thema PC-Schutz und Verhalten im Internet findet man auf folgenden Websites:</p>
    <ul>
      <li>Datenschutzbeauftragter des Kantons Zürich: <a href="https://dsb.zh.ch/internet/datenschutzbeauftragter/de/mein-datenschutz/digitaler-selbstschutz.html" target="_blank">Checkliste Selbstdatenschutz - PC -Sicherheit</a></li>
      <li>BSI für Bürger: <a href="https://www.bsi-fuer-buerger.de" target="_blank">https://www.bsi-fuer-buerger.de</a></li>
      <li>Swiss Internet Security Alliance: <a href="https://www.swiss-isa.ch" target="_blank">https://www.swiss-isa.ch</a></li>
      <li>eBanking - aber sicher!: <a href="https://ebankingabersicher.ch" target="_blank">https://ebankingabersicher.ch</a></li>
    </ul>
  </div>
</div>
