<div class="row">
  <div class="col-12">
    <p [innerHTML]="'passwordHintsSite.protections.text1' | translate"></p>
    <p [innerHTML]="'passwordHintsSite.protections.text2' | translate"></p>
    <ol>
      <li [innerHTML]="'passwordHintsSite.protections.text3' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.protections.text4' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.protections.text5' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.protections.text6' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.protections.text7' | translate"></li>
    </ol>

    <p [innerHTML]="'passwordHintsSite.protections.text9' | translate"></p>
    <ul>
      <li>
        {{'passwordHintsSite.protections.text10' | translate}}
        <ul>
          <li [innerHTML]="'passwordHintsSite.protections.text10.1' | translate"></li>
          <li [innerHTML]="'passwordHintsSite.protections.text10.2' | translate"></li>
          <li [innerHTML]="'passwordHintsSite.protections.text10.3' | translate"></li>
        </ul>
      </li>
      <li [innerHTML]="'passwordHintsSite.protections.text11' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.protections.text12' | translate"></li>
      <li [innerHTML]="'passwordHintsSite.protections.text13' | translate"></li>
    </ul>
  </div>
</div>
